<div class="container form-container">
  <div class="row">
    <div class="col s8 offset-s2">
      <%= simple_form_for [@trip, @invite] do |f| %>
          <label for="email"><%= t('email_invitation') %></label>
          <div id="invitations-<%= @trip.id %>">
            <div class="invitation-row">
              <%= f.input_field :email, multiple: true, placeholder: "yourfriend@takeoff.com" %>
            </div>
          </div>
          <div id="new_invitation_button">
            <i class="fa fa-plus-circle medium" aria-hidden="true"></i>
          </div>
          <div class="form-actions">
            <%= f.submit t('send_invite'), class: "waves-effect waves-light btn" %>
            <%= link_to t('back'), trips_path, class: "waves-effect waves-light btn" %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    var emailRow = $('#invitations-<%= @trip.id %>').html();

    $('#new_invitation_button').click(function(){
      $('#invitations-<%= @trip.id %>').append(emailRow);
    });
</script>