<div class="container">
  <div class="row" style="margin-bottom: 5px;">
    <div class="col s12">
      <hr style="width: 100%;">
      <div class="trip-balance-user">
        <div>
          <%= ower %> <%= t('to_owe') %> <%= recipient %>
        </div>
        <div>
          <%= amount %> <%= t('currency') %>
        </div>
      </div>
    </div>
  </div>
</div>
