<div id="invitation-modal" class="modal modal-fixed-footer">
  <div class="modal-header">
    <h3><%= t('invite_user') %></h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for [trip, invite] do |f| %>
    <label for="email"><%= t('email_invitation') %></label>
    <div class="form-address">
      <div class="mail-address-row">
        <div class="input-field" style="width:300px;">

          <%= f.input_field :email, multiple: true, placeholder: "yourfriend@takeoff.com" %>
        </div>

        <div class="new-invitation-button">
          <i class="fa fa-plus-circle small" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div id="mail-addresses">

    </div>

  </div>



  <div class="modal-footer">
      <%= f.hidden_field :trip, value: trip %>
      <%= f.submit t('send_invite'), class: "waves-effect waves-light btn" %>
      <%= link_to t('back'), trips_path, class: "waves-effect waves-light btn" %>
  </div>
  <% end %>
</div>

<%= content_for :js do %>
    <%= javascript_tag do %>
        $(document).ready(function(){

        });


        $('.new-invitation-button').on("click", function(){
            console.log('yes')
          var mailAddress = $('.form-address').html();
          var newInvitation = '<div class="mail-address-row">' + mailAddress + '</div>';

          $('#mail-addresses').append(newInvitation).show('slow');
          $('.new-invitation-button').last().text("remove_circle_outline").removeClass('new-invitation-button').addClass('remove-invitation-button');

          $('.remove-invitation-button').on("click", function(){
            if ($('#mail-addresses .mail-address-row').length > 1) {
                $('#mail-addresses .mail-address-row').last().remove();
            } else {
              $('#mail-addresses').slideUp();
              $('#mail-addresses .mail-address-row').last().remove();
            }
          });
        });

    <% end %>
<% end %>
