<div class="card">
  <div class="card-title">
    <%= invitation.trip.name %>
  </div>

  <div class="invitation-card-host">
    <%= t('invited_by') %> <%= invitation.full_name_of_host %>
  </div>

  <div class="invitation-card-destination">
    <i class="material-icons">location_on</i>
    <%= invitation.trip.destination %>
  </div>



  <div class="card-invite-buttons">
    <%= link_to t('decline'), decline_trip_invite_path(invitation.trip, invitation), class: "waves-effect waves-light btn invite-button-decline" %>
    <%= link_to t('confirm'), confirm_trip_invite_path(invitation.trip, invitation), class: "waves-effect waves-light btn invite-button-accept" %>
  </div>
</div>