<h5 class="trip-headline"><%= t('expenses') %></h5>
<div class="container">
  <div class="row">
    <div class="col s12" id="trip-expense-total">
      <h5>Total </h5>
      <h5 style="margin-left: 10px;"><%= @total %> <%= t('currency') %></h5>

    </div>
  </div>
</div>

<div>
  <% if @total > 0 %>
    <% @participants.each do |participant| %>
        <%= render 'user_balance', participant: participant %>
    <% end %>

    <% @expenses.each do |key, value| %>
        <ul>
          <li>
            <%= key.get_user_full_name %> owes

            <% value.each do |bail| %>
              <%= bail.first.get_user_full_name %>
              <%= bail.last %>
            <% end %>

          </li>
        </ul>
    <% end %>

  <% end %>

</div>
