<div class="detail-container">
  <div class="row">
    <div class="col s12">
      <div class="trip-details">
        <div class="row">
          <div class="col s12 m6">
            <div class="trip-detail-title">
              <h4><%= @trip.name %></h4>
              <h6><%= @trip.destination %></h6>
              <div class="trip-detail-participant">
                <% @trip.trip_participants.each do |trip_participant| %>
                    <div class="avatar avatar-bordered">
                      <%= trip_participant.user.render_initials %>
                    </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col s12 m6">
            <div class="trip-detail-actions">
              <h5><%= t('trip_actions') %></h5>
              <div class="trip-detail-buttons">
                <% if policy(@trip).edit? %>
                    <%= link_to edit_trip_path(@trip) do %>
                        <i class="material-icons card-icon">mode_edit</i>
                    <% end %>
                <% end %>
                <% if policy(@trip).destroy? %>
                    <%= link_to @trip, method: :delete, remote: true do %>
                        <i class="material-icons card-icon">delete</i>
                    <% end %>
                <% end %>
                <% if policy(@trip).invite? %>
                    <%= link_to new_trip_invite_path(@trip) do %>
                        <i class="material-icons">insert_invitation</i>
                    <% end %>
                <% end %>
                <% if policy(@trip).leave? %>
                    <%= link_to leave_trip_path(@trip) do %>
                        <i class="material-icons">exit_to_app</i>
                    <% end %>
                <% end %>
              </div>
              <hr>
              <div class="trip-detail-invitation">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <div class="trip-dates-container">
        <% if @trip.survey %>
            <%= render 'surveys/survey', survey: @survey, survey_dates: @survey_dates %>
        <% elsif @trip.start_date %>
            <div class="trip-dates">
              <div class="trip-date">
                <i class="material-icons">date_range</i>
                <div class="date-vertical"></div>
                <%= l(@trip.start_date, format: :long) %>
              </div>
              <div class="trip-date-line"></div>
              <div class="trip-date">
                <i class="material-icons">date_range</i><%= l(@trip.end_date, format: :long) %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <div class="col s12 m6">
      <div id="map" style="width: 100%; height: 300px;"></div>
    </div>
  </div>
</div>

<%= content_for :js do %>
    <%= javascript_tag do %>

        $(document).ready(function(){
          $('ul.tabs').tabs();
          $('ul.tabs').tabs('select_tab', 'tab_id');

          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
                handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
            }
          });
        });
    <% end %>
<% end %>

