<h5 class="trip-headline"><%= t('expenses') %></h5>
<div class="container">
  <div class="row">
    <div class="col s12" id="trip-expense-total">
      <h5><%= t('total_expense') %></h5>
      <h5 style="margin-left: 10px;"><%= @total %> <%= t('currency') %></h5>
    </div>
  </div>
</div>

<% if @total > 0 %>
  <div>
    <% @participants.each do |participant| %>
        <%= render 'user_balance', participant: participant %>
    <% end %>

    <% @expenses.each do |ower, debts| %>
        <% debts.each do |debt| %>
          <%= render 'balance_expense', ower: ower.get_user_full_name, recipient: debt.first.get_user_full_name, amount: debt.last.round(1) %>
        <% end %>
    <% end %>
  </div>
<% end %>


