<div class="container">
  <div class="row">
    <div class="col s12 trip-expense-user">
      <div class="trip-expense-user-name">
        <%= participant.get_user_full_name %>
      </div>
      <div class="trip-expense-user-balance progress">
        <% length = participant.compute_user_balance(@trip, @total) / @total %>
        <% if length >= 0 %>
          <div class="determinate success-progress-bar" style="width: <%= length %>;">
            <%= participant.compute_user_balance(@trip, @total) %>
          </div>
        <% else %>
          <div class="determinate error-progress-bar" style="width: <%= length %>;">
            <%= participant.compute_user_balance(@trip, @total) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

