<div class="container">
  <div class="row">
    <div class="col s8">
      <% @trips.each do |trip| %>
        <div class="col s12 card" id="trip-id-<%= trip.id %>">
          <div class="card-title">
            <%= link_to trip.name, trip_path(trip), class: "card-title" %>
          </div>
          <div class="card-participants">
            <% trip_participants = trip.trip_participants %>
            <% trip_participants.each do |trip_participant| %>
                <div class="avatar avatar-bordered">
                  <%= trip_participant.user.render_initials %>
                </div>
          <% end %>
          </div>
          <div class="card-destination">
            <%= trip.destination %>
            <p><%= t('number_of_participants') %>: <%= trip_participants.count %></p>
          </div>
          <div class="card-dates">
          <% if !trip.start_date.nil? %>
            <%= l(trip.start_date, format: :short) %> - <%= l(trip.end_date, format: :short) %>
          <% elsif trip.survey %>
            <%= link_to t('show_survey'), survey_path(trip.survey) %>
         <% end %>


          </div>
          <div class="card-buttons">
            <%= link_to edit_trip_path(trip) do %>
                <i class="material-icons">mode_edit</i>
            <% end %>
            <%= link_to trip, method: :delete, remote: true do %>
                <i class="material-icons">delete</i>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col s4">
      <% @invitations.each do |invitation| %>
          <div class="col s12 card">
            <div class="card-title">
              <%= invitation.trip.name %>
            </div>
            <div class="card-destination">
              <%= invitation.trip.destination %>
            </div>
            <div class="card-participants">
              <div class="avatar avatar-bordered">
                <%= User.find(invitation.host_id).render_initials %>
              </div>
            </div>
            <div class="card-invite-buttons">
              <%= link_to t('decline'), decline_trip_invite_path(invitation.trip, invitation), class: "btn" %>
              <%= link_to t('confirm'), confirm_trip_invite_path(invitation.trip, invitation), class: "btn" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
