<div class="container form-container">
  <div class="row">
    <div class="col s8 offset-s2">
      <%= simple_form_for @trip do |f| %>
          <%= f.input :name %>
          <%= f.input :destination %>
          <div id="trip-dates">
            <div class="form-dates">
              <div class="input-field label">
                <%= f.label :start_date, required: true %>
                <%= f.text_field :start_date, multiple: true, class: "datepicker", id: "start_date_picker" %>
              </div>
              <div class="input-field label">
                <%= f.label :end_date, required: true %>
                <%= f.text_field :end_date, multiple: true, class: "datepicker", id:"end_date_picker" %>
              </div>
            </div>
            <div class="form-survey">
              <i class="material-icons">insert_invitation</i>
              <p class="form-survey-question"><%= t('survey_question') %></p>
              <div class="waves-effect waves-light btn" id="survey_button">
                <%= t('create_survey') %>
              </div>
            </div>
          </div>

          <div id="survey" class="hide">
            <h5>Survey</h5>
            <div class="input-field label">
              <%= f.label :start_date, required: true %>
              <%= f.text_field :start_date, multiple: true, class: "datepicker" %>
            </div>
            <div class="input-field label">
              <%= f.label :end_date, required: true %>
              <%= f.text_field :end_date, multiple: true, class: "datepicker" %>
            </div>
            <div class="input-field label">
              <%= f.label :start_date, required: true %>
              <%= f.text_field :start_date, multiple: true, class: "datepicker" %>
            </div>
            <div class="input-field label">
              <%= f.label :end_date, required: true %>
              <%= f.text_field :end_date, multiple: true, class: "datepicker" %>
            </div>
          </div>

          <div class="form-actions">
            <%= f.submit t('create_trip'), class: "waves-effect waves-light btn" %>
            <%= link_to t('back'), trips_path, class: "waves-effect waves-light btn" %>
          </div>
    <% end %>
    </div>
  </div>
</div>

<%= content_for :js do %>
  <%= javascript_tag do %>
        $(document).ready(function(){
            activateDatePicker();
        });

        function activateDatePicker(){
            $('.datepicker').pickadate({
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 15, // Creates a dropdown of 15 years to control year
              firstDay: 1, // Weeks starts on Monday
              input: new Date()
            });
            var start_date = nextWeekEndDate(new Date());
            var end_date = addDaysToDate(start_date, 2);
            var start_date_picker = $('#start_date_picker').pickadate('picker');
            start_date_picker.set ('select', start_date);
            var end_date_picker = $('#end_date_picker').pickadate('picker');
            end_date_picker.set ('select', end_date);
        };

        function nextWeekEndDate(date) {
            if (date.getDay() == 6){
              return date;
            } else {
              diff = Math.abs( 6 - date.getDay() );
              return new Date(Date.parse(date) + diff*24*60*60*1000);
            };
        }

        function addDaysToDate(date, days){
          return new Date(Date.parse(date.toString()) + days*24*60*60*1000);
        };

        activateDatePicker();

        $('#survey_button').on('click', function(){
            console.log('yes')
          $('#survey').removeClass('hide');
        });

  <% end %>
<% end %>