<%- if controller_name != 'sessions' %>
  <div class="form-actions">
    <p><%= t('already_account') %></p>
    <%= link_to t('log_in'), new_session_path(resource_name), class: "btn" %>
  </div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="form-actions">
    <p><%= t('no_account') %></p>
    <%= link_to t('sign_up'), new_registration_path(resource_name), class: "btn" %>
  </div>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to t('no_confirmation_instruction'), new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to t('unlock_instructions'), new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
        <div class="facebook-login-button">
          <i class="fa fa-facebook-official" style="margin-right: 5px;" aria-hidden="true"></i>
          <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
        </div>
  <% end -%>
<% end -%>
