<div class="topic-card">
  <div class="topic-body">

    <div class="topic-card-title">
      <%= link_to topic.title, edit_topic_path(topic) %>
      <%= t('topics.created_by') %> <%= current_user.get_user_full_name %>
    </div>


    <div class="topic-line-header"">
      <div>
      </div>
      <div class="topic-line-header-vote">
        <%= t('survey.number_of_votes') %>
      </div>
      <div class="topic-line-header-title">
        <div>
          <%= t('suggestions.name') %>
        </div>
        <div>
          <%= t('suggestions.price') %>
        </div>
      </div>
    </div>

    <% topic.suggestions.each do |suggestion| %>
      <%= render "suggestions/show", suggestion: suggestion %>
    <% end %>

    <div class="topic-card-actions">
      <% if !topic.suggestions.empty? %>
        <%= link_to t('topics.close_topic'), confirm_topic_path(topic), class: "waves-effect waves-light btn" %>
      <% end %>
      <%= link_to t('topics.add_suggestion'), new_topic_suggestion_path(topic, Suggestion.new), class: "waves-effect waves-light btn" %>
    </div>
  </div>
</div>
