<div class="topic-card">
  <div class="topic-card-title">
    <%= topic.title %>
  </div>
  <div class="suggestions">
    <% topic.suggestions.each do |suggestion| %>
      <%= render "suggestions/show", suggestion: suggestion %>
    <% end %>
  </div>
  <div class="topic-card-actions">
    <%= link_to t('topics.close_topic'), close_topic_path(topic), class: "waves-effect waves-light btn" %>
    <%= link_to t('topics.add_suggestion'), new_topic_suggestion_path(topic, Suggestion.new), class: "waves-effect waves-light btn" %>
  </div>
</div>


<%= content_for :js do %>
    <%= javascript_tag do %>
      $('.suggestion-vote-button').on("click", function(){
        $.ajax({
          type: "GET",
          url: "<%= vote_topic_path(topic) %>",
          data: { suggestion_id: $(this).attr('suggestion_id') },
          success: function(data){
            var suggestionId = data.suggestion.id;
            var numberOfVotes = data.number_of_votes;
            var htmlListOfVoters = data.html_list_of_voters;
            var selector = '#suggestion_id_' + suggestionId
            $(selector).text(numberOfVotes);
            // var popoverSelector = '#survey-popover-' + id;
            // $(popoverSelector).html("");
            // $(popoverSelector).append(htmlListOfVoters);
            },
          error: function(jqXHR) {
            console.error(jqXHR.responseText);
          }
        });
      });
    <% end %>
<% end %>