<div class="container">
  <div class="row">
    <div class="col l6 offset-l3 m8 offset-m2 s12 ">
      <div class="form-container">
        <div class="form-header">
          <h3><%= t('topics.create_topic') %></h3>
        </div>
        <div class="form-body">
          <%= simple_form_for [@trip, @topic] do |f| %>
              <%= f.input :title %>
              <%= f.input :description%>


              <div class="form-actions">
                <%= f.submit t('topics.create_topic'), class: "waves-effect waves-light btn" %>
                <%= link_to t('back'), trip_path(@trip, anchor: "organization"), class: "waves-effect waves-light btn" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
