<div class="container form-container">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="form-title">
        <h4><%= t('password_forgotten') %></h4>
      </div>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
          </div>

          <div class="form-actions">
            <%= link_to t('back'), root_path, class: "btn" %>
            <%= f.button :submit, "Send me reset password instructions" %>
          </div>
      <% end %>
      <hr/>
      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>