<nav>
  <div class="nav-wrapper">
    <%= link_to 'Take Off', root_path, class:"brand-logo" %>
    <% if user_signed_in? %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <% if I18n.locale == I18n.default_locale %>
              <%= link_to locale: 'fr' do %>
                  <div class="image-flag">
                    <%= image_tag "french_flag.png" %>
                  </div>
              <% end %>
          <% else %>
              <%= link_to locale: 'en' do %>
                  <div class="image-flag">
                    <%= image_tag "uk_flag.png" %>
                  </div>
              <% end %>
          <%end%>
        </li>
        <li><%= link_to t('create_trip'), new_trip_path, 'data-no-turbolink' => true %></li>
        <li><%= link_to t('trips'), trips_path %></li>
        <li><%= link_to t('log_out'), destroy_user_session_path, method: :delete %></li>
        <li>
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= link_to edit_user_registration_path do %>
              <div style="padding-top: 12px; height: 65px;" >
                <%= image_tag avatar_url, class: "avatar-medium"%>
              </div>
          <% end %>
        </li>
      </ul>
    <% else %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to t('log_in'), new_user_session_path %></li>
        <li><%= link_to t('sign_up'), new_user_registration_path %></li>
      </ul>
    <% end %>
  </div>
</nav>