<div class="home-banner" style="background-image: url('<%= image_path 'travel_2.jpg'%>')">
  <div class="home-title-container">
    <h1>Take Off</h1>
    <h4>Group Holidays, made Simple</h4>
    <div id="subscription">
      <%= link_to t('log_in'), new_user_session_path, class: 'homepage-button' %>
      <%= link_to t('sign_up'), new_user_registration_path, class: 'homepage-button homepage-button-sign-up' %>
      <hr style="width:83%;">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%- resource_class.omniauth_providers.each do |provider| %>
              <div class="facebook-login-button">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: "adjust" %><br />
              </div>
          <% end -%>
      <% end %>
    </div>
  </div>
</div>

