<h1><%= @trip.name %>'s survey</h1>
<table>
  <thead>
    <tr>
      <th>Vote</th>
      <th>Number of votes</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <% @survey_dates.each do |survey_date| %>
      <tr>
        <th>
          <%= link_to 'Vote', vote_survey_path(@survey, survey_date_id: survey_date.id), class:"btn", remote: true %>
        </th>
        <th>
          <%= survey_date.votes_for.size %>
        </th>
        <th>
          <%= l(survey_date.start_date, format: :short) %>
        </th>
        <th>
          <%= l(survey_date.end_date, format: :short) %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('back'), trips_path, class: "btn" %>



<%= content_for :js do %>
    <%= javascript_tag do %>
    <% end %>
<% end %>