<div class="container">
  <div class="row">
    <div class="col l10 offset-l1 s12 ">
      <div class="survey-container">
        <div class="survey-header">
          <h3><%= @trip.name %>'s survey</h3>
        </div>
        <div class="survey-body">
          <table>
            <thead>
              <tr>
                <th>Vote</th>
                <th>Number of votes</th>
                <th>Start Date</th>
                <th>End Date</th>
              </tr>
            </thead>
            <tbody>
              <% @survey_dates.each do |survey_date| %>
                <tr>
                  <th>
                    <input name="group1" class="vote-button" type="checkbox" id="<%= survey_date.id %>" />
                    <label for="<%= survey_date.id %>"></label>
                  </th>
                  <th id="votes-for-survey-date-<%= survey_date.id %>">
                    <%= survey_date.votes_for.size %>
                  </th>
                  <th>
                    <%= l(survey_date.start_date, format: :short) %>
                  </th>
                  <th>
                    <%= l(survey_date.end_date, format: :short) %>
                  </th>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>



<%= link_to t('back'), trips_path, class: "btn" %>




<%= content_for :js do %>
    <%= javascript_tag do %>
        $('.vote-button').on("click", function(){
          $.ajax({
              type: "GET",
              url: "<%= vote_survey_path(@survey) %>",
              data: { survey_date_id: $(this).attr('id') },
              success: function(data){
                  var id = data.survey_date.id;
                  var numberOfVotes = data.number_of_votes;
                  $('#votes-for-survey-date-' + id).text(numberOfVotes);
              },
              error: function(jqXHR) {
                  console.error(jqXHR.responseText);
              }
          });
        });
    <% end %>
<% end %>