<div class="suggestion-line">

  <input name="suggestion_number" class="suggestion-vote-button" type="checkbox" <%= suggestion.voted_by?(current_user) ? 'checked' : "" %> id="suggestion-button-<%= suggestion.id %>" suggestion_id="<%= suggestion.id %>" />
  <label for="suggestion-button-<%= suggestion.id %>"></label>

  <div class="btn-floating suggestion-number-button" id="suggestion_id_<%= suggestion.id %>">
    <div class="suggestion-number-button-text">
      <%= suggestion.votes_for.size %>
    </div>
  </div>

  <div class="suggestion-line-description">
    <div class="suggestion-name">
      <%= suggestion.name %>
    </div>

    <div class="suggestion-price">
      <%= suggestion.price.round %>
    </div>
  </div>
</div>
