<div class="suggestion-line">

  <input name="suggestion_line" class="suggestion-vote-button" type="checkbox" <%= suggestion.voted_by?(current_user) ? 'checked' : "" %> id="suggestion-button" suggestion_id="<%= suggestion.id %>" />
  <label for="suggestion-button"></label>

  <div class="btn-floating suggestion-number-button" id="suggestion_id_<%= suggestion.id %>">
    <div class="suggestion-number-button-text">
      <%= suggestion.votes_for.size %>
    </div>
  </div>

  <div class="suggestion-name">
    <%= suggestion.name %>
  </div>

  <div class="suggestion-price">
    <%= suggestion.price.round %>
  </div>
</div>

<%= content_for :js do %>
    <%= javascript_tag do %>

  <% end %>
<% end %>